
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Login</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form action="/login" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="nombre de usuario" name="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="contraseña" name="password">
					</div>
					<div class="mensaje">
						
					{{#if message}}
  				<p class="error">{{message}}</p>
					{{/if}}
					
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					No estas registrado?<a href="/signup">Registrate</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Se te olvido la contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</div>
