
    <div class="container"  style='padding-bottom:200px'>
        <div class="row">
                <div class="row">
              
                    <div class=" col-md-12 col-sm-12 col-xs-12" >
                        <div class="row profile-detail"  style='padding-top:20px'>
                            <div class=" col-md-4 col-sm-4 col-xs-5 text-center">
                                <img src="images/san1.jpg"  class="img-circle img-thumbnail">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7">
                                <h1>Santiago Miranda</h1>
                          
                                <h3 style='color:white'>Sanmiranda</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row text-center profile-count-detail">
                            <div class="col-md-4 col-sm-4 col-xs-12 count-no">
                                <h2>14</h2>
                                <p>Handicap</p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 count-no">
                                <h2>8</h2>
                                <p>Matches</p>
                            </div>
                             <div class="col-md-4 col-sm-4 col-xs-12 count-no">
                                <h2>0/0</h2>
                                <p>W/L</p>
                            </div>
                            
                            <div class="count-no col-xs-12 col-md-4 col-sm-4 ">
                               <a href="/match/create">
                                   <button class="btnperf">Crear Match</button>
                                              </a>
                                   {{!-- <a href="/editarperfil">
                                   <button class="btnperf">Editar Perfil</button>
                                   </a> --}}
                                   <a href="/logout">
                                   <button>Log Out</button>
                                   </a>

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
