<div class="top">
        <div class="cardperfil">
            <img src="images/san.jpg" alt="pic">
        <div class='infoperfil'>
        <h1>Sanmiranda</h1>                         

         <div class='hp'>
            <h2>14</h2>
             <p>Handicap</p>                         
        </div>
        </div>
        <div> 
            <div class="buttons">
                	{{!-- <label for="image"></label>
             <input type="file" accept="image/*" name="image" class="formm-control" id="image" name="image" width='100px'> --}}
         <a href="/match/create">
        <button class="btnperf">Crear Match</button>
            </a>
            <a href="/logout">
        <button class="btnperf">Log Out</button>
            </a>
            </div>    
       </div>
       </div>
       </div>