
<nav>
 <div class="barra form-inline ">
  <div class="uk-position-center-left">
  <a  href="/">
    <div>
    <img id="logo-golfo" src="images/minilogo.png" alt="minilogo" width="50px">
    </div>
  </a>
  </div>
  <div class="uk-position-center-right" style="padding-left:1100px">
   <a href="#pag2" style="color:#386c04">Info</a>

   <a href="/signup" style="color:#386c04">Registro</a>

   <a href="/login" style="color:#386c04">Login</a>
 </div>
</nav>
<body>
<section id="total">
  <section class='top'>
    <div class="logo">
          <img src="images/logo-golf.png" alt="logo">
        <h1>¡Regístrate!</h1>
      <p>Y obten los primeros 3 meses gratis</p>
        </div>
      <div class='fonos'>
        <img src="images/fonos2.png" alt="fonos">
        </div>
               
<div class="registercard">
		<div class="card">
			<div class="card-header">
				<h3>Registro</h3>
				{{!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
				</div> --}}
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="nombre de usuario">						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="email">	
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="contraseña">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="confirmar contraseña">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-golf-ball"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="handicap">
					</div>
					<div class="form-group">
						<input type="submit" value="Registrar" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Ya estás registrado?<a href="/login">LogIn</a>
				</div>
	      </div>
        </div>
        </div>    
  </section>


  <section class='columnas caja'>
     
        <div class="cajita" id="pag2">
        <img id='fotito' src="images/hoyoo.png" alt="hoyo" width='120px' >
        <h2>Registrate</h2>
    <p>Llena el formato, actualiza tu foto y empieza a disfrutar de Golf!</p>
        </div>
         <div class="cajita">
 <img id='fotito' src="images/palo.png" alt="palo" width='120px' >
   <h2>Crea Match</h2>
    <p>Crea un match desde tu perfil, añade a tus amigos y queda para jugar.</p>
 </div>
 <div class="cajita">
 <img id='fotito' src="images/jugador.png" alt="jugador" width='120px' >
   <h2>Sal y Juega</h2>
    <p>Juega y ve tus resultados en tiempo real! Lo unico que tienes que hacer es registrar los tiros de tu grupo y listo.</p>
       </div>
       <div class="cajita">
       <img id='fotito' src="images/bolsa.png" alt="bolsa" width='120px' >
    <h2>Reta y Repite</h2>
    <p>Disfruta y vuelve a retar a tus amigos!</p>
</div>
      </div>
  </section>
  </section>
  <footer>Golf-O ®  J.S</footer>
  </div>
</body>
