<div class='top'>
<div class='errorpag'>
<h1>¡No Entro!</h1>
<img  src="images/torneo color.jpg" width="500px" alt="torneo">


<h2>Regresa al tee de salida</h2>
 <a  href="/">
    <img src="images/minilogo.png" alt="minilogo" width="100px">
  </a>
</div>
</div>
</div>