
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Crea un nuevo partido</h3>
			</div>

			<div class="card-body">
				<form action="/creatematch" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
			</div>
						<input type="text" class="form-control" placeholder="nombre de usuario" name="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="email" name="email">	
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="contraseña" name="password">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="confirmar contraseña" name="repassword">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-golf-ball"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="handicap" name="handicap">
					</div>
					{{!-- <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-camera"></i></span>
						</div>
						<label for="image"></label>
             <input type="file" accept="image/*" name="image" class="form-control" id="image" name="image">
					</div> --}}
					<div class="form-group">
						<input type="submit" value="Registrar" class="btn float-right login_btn">
					</div>
					
				</form>
			</div>

		</div>
	</div>
</div>

