<table class="table table-striped match">
  <thead>
    <tr class='titulos'>
      <th scope="col">Jugadores</th>
      <th scope="col">Tiros</th>
      <th scope="col">T.Total</th>
      <th scope="col">R.Match</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <form action="/match" method="POST">
    <tr class='filaimp'>
      <th scope="row">Santiago</th>
      <td><input type="Number" class='tirosplayer1' name="playe1"></td>
      <td id="j1TT">25</td>
      <td id="j1RM">2</td>
      <td id="j1S">-4</td>
    </tr>
    <tr class='filapar'>
      <th scope="row">Juan</th>
       <td><input type="Number" class='tirosplayer1' name="player2"></td>
      <td id="j2TT">25</td>
      <td id="j2RM">2</td>
      <td id="j2S">-4</td>
    </tr>
     <tr class='filaimp'>
      <th scope="row">Pancho</th>
       <td><input type="Number" class='tirosplayer1' name="player3"></td>
      <td id="j3TT">25</td>
      <td id="j3RM">2</td>
      <td id="j3S">-4</td>
    </tr>
     {{!-- <tr class='filapar'>
      <th scope="row"> </th>
       <td><input type="Number" class='tirosplayer1' name="player4"></td>
      <td id="j4TT"> </td>
      <td id="j4RM"> </td>
      <td id="j4S"> </td>
    </tr>
     <tr class='filaimp'>
      <th scope="row"> </th>
       <td><input type="Number" class='tirosplayer1' name="player5"></td>
      <td id="j5TT"> </td>
      <td id="j5RM"> </td>
      <td id="j5S"> </td>
      </tr> --}}
    <input type="submit" value='enviar'>
    </form>
  </tbody>
</table>


