<article class="front9">
    <div class="hole">
        <span>Hoyos</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>Total</span>
        <span>Match</span>
        <span>Score</span>

    </div>
    <div class="par">
        <span>Par</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
       
    </div>
    <div class="hole">
        <span>Ventajas</span>
        <span>5</span>
        <span>3</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        </div>
    <div class="score1">
        <span >Santiago</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
        <span class="sub">suma</span>
        <span class="total">puntos</span>
        <span class="total">Score</span>
         <div class="score1">
        <span >Javier</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
       <span class="sub">suma</span>
        <span class="total">puntos</span>
        <span class="total">Score</span>
    </div>
       <div class="score1">
        <span >Juan</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
       <span class="sub">suma</span>
        <span class="total">puntos</span>
        <span class="total">Score</span>
    </div>
</article>
<article class="back9">
    <div class="hole">
        <span>Hoyos</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
         <span>Total</span>
        <span>Match</span>
        <span>Score</span>
    </div>
    <div class="par">
        <span>Par</span>
        <span>5</span>
        <span>3</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>

    </div>
      <div class="hole">
        <span>Ventajas</span>
        <span>5</span>
        <span>3</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        </div>
    <div class="score1">
        <span >Santiago</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
      <span class="sub">suma</span>
        <span class="total">puntos</span>
        <span class="total">Score</span>
         <div class="score1">
        <span >Javier</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
     <span class="sub">suma</span>
        <span class="total">puntos</span>
        <span class="total">Score</span>
    </div>
       <div class="score1">
        <span >Juan</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
        <span class="sub">suma</span>
        <span class="total">puntos</span>
        <span class="total">Score</span>
    </div>
</article>